# DATA CLEANING

In [6]:
import pandas as pd

# Load the data
df = pd.read_csv('/Users/st.amean/Desktop/Portfolio Project/BA_DATA/airline_review.csv')

In [2]:
# Inspect the data
print(df.head())  # Display the first few rows
print(df.dtypes)  # Check data types
print(df.isnull().sum())  # Check for missing values

   Unnamed: 0  rating                            header               author  \
0           0       2      service was mediocre at best          Gary Storer
1           1       2  BA standards continue to decline             A Jensen
2           2       2      won the race to the bottom"          John Rockett
3           3       3            Not a reliable airline  Tatiana Bobrovskaya
4           4       1         It is a national disgrace             A Dawson

         date           place  \
0  2023-10-03  United Kingdom
1  2023-10-02  United Kingdom
2  2023-10-02  United Kingdom
3  2023-10-02  United Kingdom
4  2023-09-30  United Kingdom

                                             content aircraft  traveller_type  \
0   Just returned from Chicago, flew out 10 days ...     A380  Couple Leisure
1    BA standards continue to decline every time ...     A320        Business
2    Awful. Business class check in queue just as...     A320  Couple Leisure
3    Not a reliable airline. You cannot trust the...     A320        Business
4    I take comfort in reading the last ten or so...      NaN  Couple Leisure

        seat_type                               route  date_flown  \
0   Economy Class  Chicago to Manchester via Heathrow  2023-10-01
1  Business Class           London Heathrow to Munich  2023-09-01
2  Business Class                Heathrow to Istanbul  2023-09-01
3   Economy Class                    London to Geneva  2023-10-01
4  Business Class                    Athens to London  2023-09-01

   seat_comfort  cabin_staff_service  food_beverages  ground_service  \
0             2                    3               1               2
1             2                    1               2               1
2             2                    3               2               1
3             4                    4               2               1
4             1                    1               1               1

   value_for_money recommended  entertainment trip_verified
0                2          no             -1  Not Verified
1                1          no             -1      Verified
2                1          no             -1  Not Verified
3                1          no             -1      Verified
4                1          no              1      Verified
Unnamed: 0              int64
rating                  int64
header                 object
author                 object
date                   object
place                  object
content                object
aircraft               object
traveller_type         object
seat_type              object
route                  object
date_flown             object
seat_comfort            int64
cabin_staff_service     int64
food_beverages          int64
ground_service          int64
value_for_money         int64
recommended            object
entertainment           int64
trip_verified          object
dtype: object
Unnamed: 0                0
rating                    0
header                    0
author                    0
date                      0
place                     0
content                   0
aircraft               1714
traveller_type          721
seat_type                 2
route                   725
date_flown              728
seat_comfort              0
cabin_staff_service       0
food_beverages            0
ground_service            0
value_for_money           0
recommended               0
entertainment             0
trip_verified          1474
dtype: int64

In [7]:
import pandas as pd

# Define columns to keep and rating columns to check for zeros
columns_to_keep = ['header', 'author', 'date', 'place', 'content', 'aircraft',
                   'traveller_type', 'seat_type', 'route', 'date_flown',
                   'recommended', 'trip_verified', 'rating', 'seat_comfort',
                   'cabin_staff_service', 'food_beverages', 'ground_service',
                   'value_for_money', 'entertainment']

df = df[columns_to_keep]

### Data clean by remove rows with any empty cells

In [4]:
# Remove rows with any empty cells
df.dropna(inplace=True)

# Print summary to verify changes
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1323 entries, 0 to 2315
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   header               1323 non-null   object
 1   author               1323 non-null   object
 2   date                 1323 non-null   object
 3   place                1323 non-null   object
 4   content              1323 non-null   object
 5   aircraft             1323 non-null   object
 6   traveller_type       1323 non-null   object
 7   seat_type            1323 non-null   object
 8   route                1323 non-null   object
 9   date_flown           1323 non-null   object
 10  recommended          1323 non-null   object
 11  trip_verified        1323 non-null   object
 12  rating               1323 non-null   int64
 13  seat_comfort         1323 non-null   int64
 14  cabin_staff_service  1323 non-null   int64
 15  food_beverages       1323 non-null   int64
 16  ground_service       1323 non-null   int64
 17  value_for_money      1323 non-null   int64
 18  entertainment        1323 non-null   int64
dtypes: int64(7), object(12)
memory usage: 206.7+ KB
None

### Handling missing values
#### By Assuming 'aircraft', 'route', 'date_flown' and 'trip_verified' should have no nulls:

In [8]:
# Fill specific columns with default values
df['aircraft'].fillna('Unknown', inplace=True)
df['route'].fillna('No specific route', inplace=True)
df['date_flown'].fillna(df['date_flown'].mode()[0], inplace=True)
df['trip_verified'].fillna('Not Verified', inplace=True)

# Convert date columns to datetime
df['date'] = pd.to_datetime(df['date'])
df['date_flown'] = pd.to_datetime(df['date_flown'])

# Convert 'trip_verified' to boolean
df['trip_verified'] = df['trip_verified'].map({'Verified': True, 'Not Verified': False})

# Standardize 'recommended' column to boolean
df['recommended'] = df['recommended'].map({'yes': True, 'no': False})

# Remove rows with any empty cells
df.dropna(inplace=True)

# Print summary to verify changes
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2894 entries, 0 to 2897
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   header               2894 non-null   object
 1   author               2894 non-null   object
 2   date                 2894 non-null   datetime64[ns]
 3   place                2894 non-null   object
 4   content              2894 non-null   object
 5   aircraft             2894 non-null   object
 6   traveller_type       2894 non-null   object
 7   seat_type            2894 non-null   object
 8   route                2894 non-null   object
 9   date_flown           2894 non-null   datetime64[ns]
 10  recommended          2894 non-null   bool
 11  trip_verified        2894 non-null   bool
 12  rating               2894 non-null   int64
 13  seat_comfort         2894 non-null   int64
 14  cabin_staff_service  2894 non-null   int64
 15  food_beverages       2894 non-null   int64
 16  ground_service       2894 non-null   int64
 17  value_for_money      2894 non-null   int64
 18  entertainment        2894 non-null   int64
dtypes: bool(2), datetime64[ns](2), int64(7), object(8)
memory usage: 412.6+ KB
None

### Save the cleaned data

In [5]:
# Save the cleaned data the version you prefered
df.to_csv("ba_review.csv", index=False)